{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container detail-container">
    <div class="detail-card">
        {% if post.image %}
        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="detail-image">
        {% endif %}
        
        <div class="detail-content">
            <div class="detail-meta">{{ post.created_at|date:"M d, Y" }} | By {{ post.author }}</div>
            <h1 class="detail-title">{{ post.title }}</h1>
            
            <div class="detail-text">
                {{ post.content|safe }}
            </div>
            
            <div class="detail-actions">
                <a href="{% url 'blog' %}" class="btn btn-outline">Back to Blog</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
